In [2]:
# pip install cx_oracle (oracle 11g까지) V
# pip install oracledb (oracle 12부터 )
# pip install pymysql (MySQL) V
# pip install pandas V
import pymysql
conn = pymysql.connect(host='210.121.189.12', 
                      port=3306,
                      user='root', # remoteuser
                      password='mysql', #mbcacademy0212!
                      database='devdb',
                      charset="utf8")
cursor = conn.cursor()
sql = "SELECT * FROM PERSONAL"
cursor.execute(sql)
emps = cursor.fetchall()
cursor.description
keys = [desc[0].lower() for desc in cursor.description]
# emp_list = []
# for emp in emps:
#     emp_list.append(dict(zip(keys, emp)))
emp_list = [dict(zip(keys, emp)) for emp in emps]
print(emp_list)
cursor.close()
conn.close()

ModuleNotFoundError: No module named 'pymysql'

In [3]:
import pandas as pd
pd.DataFrame(emp_list)

ModuleNotFoundError: No module named 'pandas'