In [1]:
import pandas as pd

In [2]:
df_code = pd.read_csv('ProjectData/법정동코드 조회자료.csv')
df_code.isna().sum()

법정동코드    0
법정동명     0
폐지구분     0
dtype: int64

In [3]:
df_electricity = pd.read_csv('ProjectData/법정동별시간별전력사용량.csv')

In [4]:
df_electricity.columns =['시군구코드', '법정동코드', '사용년월일', '사용시각', '전력사용량']
df_electricity.isna().sum()

시군구코드    0
법정동코드    0
사용년월일    0
사용시각     0
전력사용량    0
dtype: int64

In [5]:
df_electricity.sample(5)

         시군구코드  법정동코드     사용년월일  사용시각     전력사용량
4426813  11560  12500  20230818   100   917.725
8863712  11110  14900  20231212  1800   484.642
9255868  11110  14500  20231229   700    35.267
900789   11290  12300  20221002   100   138.681
9199880  11560  12300  20231225  2200  1456.534

In [6]:
df_electricity.to_csv('ProjectData/df_electricity.csv', index=False)

In [7]:
df_22_day = pd.read_csv('ProjectData/SURFACE_ASOS_108_DAY_2022_2022_2023.csv', encoding='cp949')
df_22_day

,지점,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),10분 최다강수량 시각(hhmi),...,평균 30cm 지중온도(°C),0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),안개 계속시간(hr)
0,108,2022-01-01,-4.3,-10.2,710.0,2.3,1544,NaN,NaN,NaN,...,0.9,2.7,6.6,10.1,15.1,17.2,1.3,1.8,0.3,NaN
1,108,2022-01-02,-1.3,-5.2,2356.0,3.0,1551,4.17,NaN,NaN,...,0.8,2.7,6.4,10.0,15.0,17.2,1.1,1.6,NaN,NaN
2,108,2022-01-03,-1.9,-8.0,714.0,2.5,1542,4.00,NaN,NaN,...,0.8,2.5,6.2,9.8,14.9,17.2,1.1,1.6,0.0,NaN
3,108,2022-01-04,-2.5,-5.6,2400.0,1.0,1445,0.92,NaN,NaN,...,0.7,2.5,6.1,9.7,14.8,17.1,1.4,2.0,NaN,NaN
4,108,2022-01-05,-2.8,-7.8,634.0,1.9,1518,NaN,NaN,NaN,...,0.7,2.4,5.9,9.5,14.7,17.1,1.0,1.4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,108,2022-12-27,-2.6,-7.3,720.0,3.3,1515,NaN,NaN,NaN,...,0.7,3.1,7.0,10.8,16.4,18.1,NaN,NaN,0.1,NaN
361,108,2022-12-28,-3.3,-6.0,2355.0,0.1,1453,3.00,NaN,NaN,...,0.7,3.0,6.8,10.7,16.3,18.1,NaN,NaN,NaN,NaN
362,108,2022-12-29,-2.9,-7.8,728.0,2.1,1522,4.33,NaN,NaN,...,0.6,2.9,6.7,10.5,16.2,18.1,NaN,NaN,0.0,NaN
363,108,2022-12-30,-1.8,-4.4,2355.0,2.3,1354,2.58,NaN,NaN,...,0.6,2.9,6.6,10.4,16.1,18.0,NaN,NaN,0.0,NaN
364,108,2022-12-31,-1.2,-5.1,125.0,2.1,1530,1.42,NaN,NaN,...,0.6,2.9,6.7,10.3,15.2,17.3,NaN,NaN,0.0,NaN

In [8]:
df_22_day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 59 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   지점                   365 non-null    int64
 1   일시                   365 non-null    object
 2   평균기온(°C)             365 non-null    float64
 3   최저기온(°C)             364 non-null    float64
 4   최저기온 시각(hhmi)        364 non-null    float64
 5   최고기온(°C)             365 non-null    float64
 6   최고기온 시각(hhmi)        365 non-null    int64
 7   강수 계속시간(hr)          147 non-null    float64
 8   10분 최다 강수량(mm)       94 non-null     float64
 9   10분 최다강수량 시각(hhmi)   61 non-null     float64
 10  1시간 최다강수량(mm)        94 non-null     float64
 11  1시간 최다 강수량 시각(hhmi)  63 non-null     float64
 12  일강수량(mm)             147 non-null    float64
 13  최대 순간 풍속(m/s)        365 non-null    float64
 14  최대 순간 풍속 풍향(16방위)    365 non-null    int64
 15  최대 순간풍속 시각(hhmi)     365 non-null    int64
 16  최대 풍속(m/s)           365 non-null    float64
 17  최대 풍속 풍향(16방위)       365 non-null    int64
 18  최대 풍속 시각(hhmi)       365 non-null    int64
 19  평균 풍속(m/s)           365 non-null    float64
 20  풍정합(100m)            365 non-null    int64
 21  평균 이슬점온도(°C)         365 non-null    float64
 22  최소 상대습도(%)           365 non-null    int64
 23  최소 상대습도 시각(hhmi)     365 non-null    int64
 24  평균 상대습도(%)           365 non-null    float64
 25  평균 증기압(hPa)          365 non-null    float64
 26  평균 현지기압(hPa)         365 non-null    float64
 27  최고 해면기압(hPa)         365 non-null    float64
 28  최고 해면기압 시각(hhmi)     365 non-null    int64
 29  최저 해면기압(hPa)         365 non-null    float64
 30  최저 해면기압 시각(hhmi)     365 non-null    int64
 31  평균 해면기압(hPa)         365 non-null    float64
 32  가조시간(hr)             365 non-null    float64
 33  합계 일조시간(hr)          364 non-null    float64
 34  1시간 최다일사 시각(hhmi)    364 non-null    float64
 35  1시간 최다일사량(MJ/m2)     364 non-null    float64
 36  합계 일사량(MJ/m2)        364 non-null    float64
 37  일 최심신적설(cm)          16 non-null     float64
 38  일 최심신적설 시각(hhmi)     16 non-null     float64
 39  일 최심적설(cm)           31 non-null     float64
 40  일 최심적설 시각(hhmi)      31 non-null     float64
 41  합계 3시간 신적설(cm)       16 non-null     float64
 42  평균 전운량(1/10)         365 non-null    float64
 43  평균 중하층운량(1/10)       365 non-null    float64
 44  평균 지면온도(°C)          365 non-null    float64
 45  최저 초상온도(°C)          364 non-null    float64
 46  평균 5cm 지중온도(°C)      365 non-null    float64
 47  평균 10cm 지중온도(°C)     365 non-null    float64
 48  평균 20cm 지중온도(°C)     365 non-null    float64
 49  평균 30cm 지중온도(°C)     365 non-null    float64
 50  0.5m 지중온도(°C)        365 non-null    float64
 51  1.0m 지중온도(°C)        365 non-null    float64
 52  1.5m 지중온도(°C)        365 non-null    float64
 53  3.0m 지중온도(°C)        365 non-null    float64
 54  5.0m 지중온도(°C)        365 non-null    float64
 55  합계 대형증발량(mm)         347 non-null    float64
 56  합계 소형증발량(mm)         347 non-null    float64
 57  9-9강수(mm)            148 non-null    float64
 58  안개 계속시간(hr)          1 non-null      float64
dtypes: float64(47), int64(11), object(1)
memory usage: 168.4+ KB

In [9]:
df_22_day = df_22_day.loc[:, ['지점', '일시', '평균기온(°C)', '최저기온(°C)', '최고기온(°C)', '일강수량(mm)', '평균 상대습도(%)']]
df_22_day

      지점          일시  평균기온(°C)  최저기온(°C)  최고기온(°C)  일강수량(mm)  평균 상대습도(%)
0    108  2022-01-01      -4.3     -10.2       2.3       NaN        46.3
1    108  2022-01-02      -1.3      -5.2       3.0       0.3        57.9
2    108  2022-01-03      -1.9      -8.0       2.5       0.0        58.3
3    108  2022-01-04      -2.5      -5.6       1.0       0.0        51.8
4    108  2022-01-05      -2.8      -7.8       1.9       NaN        47.6
..   ...         ...       ...       ...       ...       ...         ...
360  108  2022-12-27      -2.6      -7.3       3.3       NaN        69.8
361  108  2022-12-28      -3.3      -6.0       0.1       0.1        58.1
362  108  2022-12-29      -2.9      -7.8       2.1       0.0        56.3
363  108  2022-12-30      -1.8      -4.4       2.3       0.0        65.6
364  108  2022-12-31      -1.2      -5.1       2.1       0.0        65.5

[365 rows x 7 columns]

In [10]:
df_22_day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지점          365 non-null    int64
 1   일시          365 non-null    object
 2   평균기온(°C)    365 non-null    float64
 3   최저기온(°C)    364 non-null    float64
 4   최고기온(°C)    365 non-null    float64
 5   일강수량(mm)    147 non-null    float64
 6   평균 상대습도(%)  365 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 20.1+ KB

In [11]:
df_22_day['일강수량(mm)'] = df_22_day['일강수량(mm)'].fillna(0)
df_22_day['일강수량(mm)']

0      0.0
1      0.3
2      0.0
3      0.0
4      0.0
      ...
360    0.0
361    0.1
362    0.0
363    0.0
364    0.0
Name: 일강수량(mm), Length: 365, dtype: float64

In [12]:
import numpy as np
np.where(df_22_day['최저기온(°C)'].isna())

(array([219], dtype=int64),)

In [13]:
df_22_day.iloc[219]

지점                   108
일시            2022-08-08
평균기온(°C)            26.8
최저기온(°C)             NaN
최고기온(°C)            28.4
일강수량(mm)           129.6
평균 상대습도(%)          91.6
Name: 219, dtype: object

In [14]:
df_23_day = pd.read_csv('ProjectData/SURFACE_ASOS_108_DAY_2023_2023_2024.csv', encoding='cp949')
df_23_day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 59 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   지점                   365 non-null    int64
 1   일시                   365 non-null    object
 2   평균기온(°C)             365 non-null    float64
 3   최저기온(°C)             365 non-null    float64
 4   최저기온 시각(hhmi)        365 non-null    int64
 5   최고기온(°C)             365 non-null    float64
 6   최고기온 시각(hhmi)        365 non-null    int64
 7   강수 계속시간(hr)          149 non-null    float64
 8   10분 최다 강수량(mm)       100 non-null    float64
 9   10분 최다강수량 시각(hhmi)   68 non-null     float64
 10  1시간 최다강수량(mm)        100 non-null    float64
 11  1시간 최다 강수량 시각(hhmi)  71 non-null     float64
 12  일강수량(mm)             150 non-null    float64
 13  최대 순간 풍속(m/s)        363 non-null    float64
 14  최대 순간 풍속 풍향(16방위)    363 non-null    float64
 15  최대 순간풍속 시각(hhmi)     363 non-null    float64
 16  최대 풍속(m/s)           363 non-null    float64
 17  최대 풍속 풍향(16방위)       363 non-null    float64
 18  최대 풍속 시각(hhmi)       363 non-null    float64
 19  평균 풍속(m/s)           363 non-null    float64
 20  풍정합(100m)            363 non-null    float64
 21  평균 이슬점온도(°C)         365 non-null    float64
 22  최소 상대습도(%)           365 non-null    int64
 23  최소 상대습도 시각(hhmi)     365 non-null    int64
 24  평균 상대습도(%)           365 non-null    float64
 25  평균 증기압(hPa)          365 non-null    float64
 26  평균 현지기압(hPa)         365 non-null    float64
 27  최고 해면기압(hPa)         365 non-null    float64
 28  최고 해면기압 시각(hhmi)     365 non-null    int64
 29  최저 해면기압(hPa)         365 non-null    float64
 30  최저 해면기압 시각(hhmi)     365 non-null    int64
 31  평균 해면기압(hPa)         365 non-null    float64
 32  가조시간(hr)             365 non-null    float64
 33  합계 일조시간(hr)          364 non-null    float64
 34  1시간 최다일사 시각(hhmi)    364 non-null    float64
 35  1시간 최다일사량(MJ/m2)     364 non-null    float64
 36  합계 일사량(MJ/m2)        364 non-null    float64
 37  일 최심신적설(cm)          9 non-null      float64
 38  일 최심신적설 시각(hhmi)     9 non-null      float64
 39  일 최심적설(cm)           16 non-null     float64
 40  일 최심적설 시각(hhmi)      16 non-null     float64
 41  합계 3시간 신적설(cm)       9 non-null      float64
 42  평균 전운량(1/10)         365 non-null    float64
 43  평균 중하층운량(1/10)       365 non-null    float64
 44  평균 지면온도(°C)          365 non-null    float64
 45  최저 초상온도(°C)          365 non-null    float64
 46  평균 5cm 지중온도(°C)      365 non-null    float64
 47  평균 10cm 지중온도(°C)     365 non-null    float64
 48  평균 20cm 지중온도(°C)     365 non-null    float64
 49  평균 30cm 지중온도(°C)     365 non-null    float64
 50  0.5m 지중온도(°C)        364 non-null    float64
 51  1.0m 지중온도(°C)        364 non-null    float64
 52  1.5m 지중온도(°C)        364 non-null    float64
 53  3.0m 지중온도(°C)        365 non-null    float64
 54  5.0m 지중온도(°C)        365 non-null    float64
 55  합계 대형증발량(mm)         363 non-null    float64
 56  합계 소형증발량(mm)         363 non-null    float64
 57  9-9강수(mm)            155 non-null    float64
 58  안개 계속시간(hr)          8 non-null      float64
dtypes: float64(51), int64(7), object(1)
memory usage: 168.4+ KB

In [15]:
df_23_day = df_23_day.loc[:, ['지점', '일시', '평균기온(°C)', '최저기온(°C)', '최고기온(°C)', '일강수량(mm)', '평균 상대습도(%)']]
df_23_day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지점          365 non-null    int64
 1   일시          365 non-null    object
 2   평균기온(°C)    365 non-null    float64
 3   최저기온(°C)    365 non-null    float64
 4   최고기온(°C)    365 non-null    float64
 5   일강수량(mm)    150 non-null    float64
 6   평균 상대습도(%)  365 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 20.1+ KB

In [16]:
df_23_day['일강수량(mm)'] = df_23_day['일강수량(mm)'].fillna(0)
df_23_day['일강수량(mm)']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
360     0.0
361     0.0
362     0.0
363    13.1
364     4.7
Name: 일강수량(mm), Length: 365, dtype: float64

In [17]:
df_23_day

      지점          일시  평균기온(°C)  최저기온(°C)  최고기온(°C)  일강수량(mm)  평균 상대습도(%)
0    108  2023-01-01      -0.2      -4.3       3.8       0.0        54.5
1    108  2023-01-02      -4.5      -7.4      -0.4       0.0        45.9
2    108  2023-01-03      -5.0      -9.0       0.6       0.0        49.0
3    108  2023-01-04      -1.8      -5.7       3.3       0.0        51.4
4    108  2023-01-05      -1.6      -5.6       3.6       0.0        58.1
..   ...         ...       ...       ...       ...       ...         ...
360  108  2023-12-27       1.5      -2.8       6.8       0.0        76.6
361  108  2023-12-28       1.2      -1.7       4.4       0.0        69.5
362  108  2023-12-29       1.3      -1.5       4.6       0.0        71.0
363  108  2023-12-30       0.6      -0.9       2.1      13.1        92.0
364  108  2023-12-31       2.1       0.6       4.3       4.7        95.5

[365 rows x 7 columns]

In [18]:
df_24_day = pd.read_csv('ProjectData/SURFACE_ASOS_108_DAY_2024_2024_2025.csv', encoding='cp949')

In [20]:
df_24_day = df_24_day.loc[:, ['지점', '일시', '평균기온(°C)', '최저기온(°C)', '최고기온(°C)', '일강수량(mm)', '평균 상대습도(%)']]
df_24_day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지점          366 non-null    int64
 1   일시          366 non-null    object
 2   평균기온(°C)    366 non-null    float64
 3   최저기온(°C)    366 non-null    float64
 4   최고기온(°C)    366 non-null    float64
 5   일강수량(mm)    160 non-null    float64
 6   평균 상대습도(%)  366 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 20.1+ KB

In [21]:
df_24_day['일강수량(mm)'] = df_24_day['일강수량(mm)'].fillna(0)
df_24_day['일강수량(mm)']

0      0.0
1      0.0
2      0.6
3      0.0
4      0.0
      ...
361    0.0
362    0.0
363    0.0
364    0.0
365    0.0
Name: 일강수량(mm), Length: 366, dtype: float64

In [24]:
df_22_day['일시'] = pd.to_datetime(df_22_day['일시'])
df_22_day['일시']

0     2022-01-01
1     2022-01-02
2     2022-01-03
3     2022-01-04
4     2022-01-05
         ...
360   2022-12-27
361   2022-12-28
362   2022-12-29
363   2022-12-30
364   2022-12-31
Name: 일시, Length: 365, dtype: datetime64[ns]

In [25]:
df_23_day['일시'] = pd.to_datetime(df_23_day['일시'])
df_23_day['일시']

0     2023-01-01
1     2023-01-02
2     2023-01-03
3     2023-01-04
4     2023-01-05
         ...
360   2023-12-27
361   2023-12-28
362   2023-12-29
363   2023-12-30
364   2023-12-31
Name: 일시, Length: 365, dtype: datetime64[ns]

In [26]:
df_24_day['일시'] = pd.to_datetime(df_24_day['일시'])
df_24_day['일시']

0     2024-01-01
1     2024-01-02
2     2024-01-03
3     2024-01-04
4     2024-01-05
         ...
361   2024-12-27
362   2024-12-28
363   2024-12-29
364   2024-12-30
365   2024-12-31
Name: 일시, Length: 366, dtype: datetime64[ns]

In [28]:
df_22_day.info(), df_23_day.info(), df_24_day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지점          365 non-null    int64
 1   일시          365 non-null    datetime64[ns]
 2   평균기온(°C)    365 non-null    float64
 3   최저기온(°C)    364 non-null    float64
 4   최고기온(°C)    365 non-null    float64
 5   일강수량(mm)    365 non-null    float64
 6   평균 상대습도(%)  365 non-null    float64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 20.1 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지점          365 non-null    int64
 1   일시          365 non-null    datetime64[ns]
 2   평균기온(°C)    365 non-null    float64
 3   최저기온(°C)    365 non-null    float64
 4   최고기온(°C)    365 non-null    float64
 5   일강수량(mm)    365 non-null    float64
 6   평균 상대습도(%)  365 non-null    float64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 20.1 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지점          366 non-null    int64
 1   일시          366 non-null    datetime64[ns]
 2   평균기온(°C)    366 non-null    float64
 3   최저기온(°C)    366 non-null    float64
 4   최고기온(°C)    366 non-null    float64
 5   일강수량(mm)    366 non-null    float64
 6   평균 상대습도(%)  366 non-null    float64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 20.1 KB

(None, None, None)

In [29]:
df_22_day.to_csv('ProjectData/df_22_day.csv', index=False)
df_23_day.to_csv('ProjectData/df_23_day.csv', index=False)
df_24_day.to_csv('ProjectData/df_24_day.csv', index=False)