In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:50% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color ="red" > ch02. 자료형과 연산자 </font></b>
# 1절. 변수
- 변수 : 프로그램 작업 처리를 위해, 값을 저장할 수 있는 메모리 공간
- 파이썬은 변수 선언을 위한 타입이 없고, 별도의 선언 과정도 없음

## 1.1 변수 할당
- 할당연산자(=)을 이용해서 값을 할당하면 자료형(타입)이 셋팅
- **파이썬에서의 모든 변수는 객체로 저장**

In [2]:
r = 5.0
area = 3.14 * r * r

print('넓이 :' , area)

넓이 : 78.5

In [9]:
import numpy as np #numpy패키지를 np라는 이름으로 사용
#pypi.org

area = np.pi * r * r
print("넓이 : ", area)

넓이 :  78.53981633974483

In [10]:
print('area의 주소 :', id(area))
print("area의 타입:",type(area))

area의 주소 : 2545084169488
area의 타입: <class 'float'>

In [11]:
area.is_integer()

False

In [14]:
area = 10
print('area의 주소 :', id(area))
print("area의 타입:",type(area))

area의 주소 : 2545009033744
area의 타입: <class 'int'>

## 1.2 변수(함수) 이름 규칙
- 문자로 시작
- 문자(특수문자는 _ 외에는 불가), 숫자, _로 변수명 작성
- 함수명은 변수명으로 가능하나 피한다. 꼭 써야 한다면 str_식으로 사용한다
- 파이썬 예약어(for, if, ...)는 변수명 사용 불가
- 한글 변수 꼭 필요시에만 사용

In [15]:
이름 = "홍길돋"
print(이름)

홍길돋

In [17]:
# 숫자 : 정수, 실수, 복소수
i = 1 + 3j # 복소수
print(type(i))

<class 'complex'>

In [19]:
isinstance(i , complex)# 변수가 complex 타입의 객체인지?

True

In [20]:
isinstance(i, int) # i변수가 int타입의 객체인지?

False

## 1.3 다중 변수 선언

In [ ]:
a = 10
b = 10

In [27]:
a , b = 10, 20
print(a,b)

10 20

In [32]:
a , b = b, a + b # 다중 변수 할당
print(a,b)

130 210

In [25]:
isinstance(a, int)

True

In [35]:
isinstance(a,str)

False

## 1.4 도움말

In [33]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [34]:
help() # help 빠져나오기 : q / 결과접기/펴기 : esc + o#

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> print
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [36]:
# 도움말 기능 : shift + tab 키
print()

In [44]:
def add(x, y=0):
    '''
    매개변수(x,y) 2개를 받아 두자리 숫자로 만드는 함수
    x = 10의 자리수가 되고
    y = 1의 자리수가 됨(default값 0)
    '''
    return x * 10 + y

In [45]:
add(3, 4)

34

In [3]:
add(3)

NameError: name 'add' is not defined

# 2절. 화면i.o

In [4]:
# input() : 사용자로부터 값을 입력받기 위한 함수. 입력값은 문자(str)로 받음
first = input()
print(first)

In [5]:
first = int(input('첫번째 숫자는?  '))
second = int(input('두번째 숫자는?  '))

첫번째 숫자는?

ValueError: invalid literal for int() with base 10: ''

In [6]:
print("두수의 합은", first + second)

NameError: name 'second' is not defined

In [7]:
print('first', first, 'second',second, sep = ' - ', end = "\t")
print("Hello", 'Python', sep=' ')

NameError: name 'second' is not defined

# 3절, 기본 자료형
- 자료형 : 변수가 가져야 할 값의 형식> 자료형에 따라 값의 크기와 저장 방식 달라짐
- 자료형에 따라 수행할 수 있는 명령어들이 달라짐
    - 숫자 :int, float(소수점 4.0), complex(허수부 j)
    - 문자 :str("", '')
    - 논리 :bool(True/False)

## 3.1 숫자형

In [8]:
import sys
print(sys.maxsize) #정수의 최대값 ; 2 ** 63 - 1

9223372036854775807

In [9]:
2** 63 - 1

9223372036854775807

In [10]:
i = sys.maxsize + 100000000
print(i)
print(type(i))

9223372036954775807
<class 'int'>

In [11]:
#f = 0.00000000012

f= 1.2e-20 # 지수형 1.2*10의 -20승

print(f)

b = 1.2e20 # 지수형 1.2d의 10의 20승

print(b)

1.2e-20
1.2e+20

In [12]:
# 파이썬에서는 /의 결과는 무조건 실수
f = 4/2
print('f=',f)

f= 2.0

In [13]:
#자바나 c, c++처럼 정수/정수 결과를 정수로
f = int(3/2) #int() : int로 형변환(내림)
print("f=",f)
f = 3 // 2 # 목연산자
print('f=',f)

f= 1
f= 1

## 3.2문자형
겹따옴표("~")나 홀따옴표('-') 이용

In [14]:
#name = '홍길동\'짱\''  # 홍길동'짱'
name = "홍길동'짱'"
address ='서울시 관악구 "신림" 동' # 서울시 관악구 "신림" 동
print(name, address)

홍길동'짱' 서울시 관악구 "신림" 동

In [15]:
# escape 문자(탈출문자) : \n \t
text = '여러줄\t짜리 내용을 저장\n줄바꿈 문자를 쓰면 여러줄 \n줄바꿈'
print(text)

여러줄	짜리 내용을 저장
줄바꿈 문자를 쓰면 여러줄
줄바꿈

In [16]:
text = '''여러줄\t짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈'''

print(text)

여러줄	짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈

### ※ 문자열 연산(+, *)

In [17]:
'''
    여러 줄 주석 용도
    2025.09.12 문자열 연산 by 김지훈
'''
name1 = "홍길동"
name2 = "동해번쩍"
print(name1 + name2)
print(name1, name2)

홍길동동해번쩍
홍길동 동해번쩍

In [18]:
print(name1 * 3)

홍길동홍길동홍길동

### ※ raw 데이터
- 용도 : 정규표현식 이용, 디렉토리 경로를 표현시 이용

In [19]:
 raw데이터 : 데이터 처리시 이스케이프 문자(\n, \t, \', \")
print(r'Hello\nWorld')

SyntaxError: unexpected character after line continuation character (1416192288.py, line 1)

정규표현식(regex)
    1. 참조 :https://ko.wikipedia.org/wiki/ 위키백과
    2. 간략문법
          \d (숫자와 매치. [0~9]와 동일)
          \D (숫자가 아닌 것)
          \w (영문자나 숫자 .[a-zA-Z0-9]와 동일)
          \W (영문자나 숫자가 아닌 문자)
          . (문자)
          \. (.)
          \- (-) 
          {2,} (2번 이상 반복)
          {2,4} (2 ~ 4회 반복)
          ?     (0번이나 1번 의미)
          +     (1번 이상 반복)
          *     (0번 이상 반복)
    3. 정규표현식 연습장 : https://regexr.com/
        ex1. 전화번호 : 02 888 7777 / 028887777  / 010-9999-9999  / 010.9999.9999/
                        02)999-9999
                        => \d{2,3}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}            
                     
        ex2. 이메일 : abc12@naver.com / abc12@sns.co.kr
        
        => \w+@\w+(\.\w+){1,2}
        
        ex3. 주민번호 : 981212-1952525
        
        => (\d{2}0[1-9][0-3]\d\-[0-4]\d{6})|(\d{2}1[0-2][0-3]\d\-[0-4]\d{6})
     
     
   
    
    4. 소스 구현

In [20]:
import re
data ="이름:홍길동, 주소:서울, 전화:02-888-8888, \
핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍\
혈액형:Bㅋㅋ ㅋㅋzz"
print(data)

이름:홍길동, 주소:서울, 전화:02-888-8888, 핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍혈액형:Bㅋㅋ ㅋㅋzz

In [21]:
# 정규표현식 처리에선든 raw데이터 처리를 하지 않아도 실행은 되나
# 실수를 줄이고, 가독성을 높이는 용도를 raw 데이터 처리를 사용
tel_pattern = r"\d{2,3}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
tels = re.findall(tel_pattern, data) # 해당 패턴을 다 찾아줌. 없으면 빈 list
tels

['02-888-8888', '010-9999-9999']

In [22]:
email_pattern ="r\w+@\w+(\.\w+){1,2}"
emails = re.findall(email_pattern, data)
emails

[]

In [23]:
# 정규표현식 패턴과 처음 match되는 것을 찾아줘
firstTel = re.search(tel_pattern, data)
firstTel

In [24]:
print(data[18:29]) # 문자열 슬라이싱
print(firstTel.group(0))

02-888-8888
02-888-8888

In [25]:
tel_pattern = r"(\d{2,3})-(\d{3,4})-(\d{4})"

firstPhone = re.search(tel_pattern,data)
firstPhone

In [26]:
print('전체 전화번호 :',firstPhone.group(0))
print('국번 :', firstPhone.group(1))
print('중간번호 :', firstPhone.group(2))
print('끝번호 :' , firstPhone.group(3))

전체 전화번호 : 02-888-8888
국번 : 02
중간번호 : 888
끝번호 : 8888

In [27]:
#data에서 특정한 데이터 없애기

re.sub("[^가-힣0-9A-Z\s]", '', data)

'이름홍길동 주소서울 전화028888888 핸드폰01099999999 특징동해번쩍 서해번쩍혈액형B '

In [28]:
#data에서 전화번호 없애기
tel_pattern = r"\d{2,3}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
re.sub(tel_pattern, ' ',data)

'이름:홍길동, 주소:서울, 전화: , 핸드폰: , 특징:동해번쩍 서해번쩍혈액형:Bㅋㅋ ㅋㅋzz'

In [29]:
#파일 경로

#file_path = "C:\\ai\\source\\01_python\\data\\ch02.txt"
#file_path = "C:/ai/source/01_python/data/ch02.txt"


file_path = r"C:\ai\source\01_python\data\ch02.txt"

In [30]:
file_stream = open(file_path,"w")
print("Helo, Python.","Hello, World", sep = "\n")#화면출력
print("Helo, Python.","Hello, World", sep = "\n", file = file_stream)#파일 출력
file_stream.close() #close 하지 않으면 저장 안 됨

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\ai\\source\\01_python\\data\\ch02.txt'

### ※ 문자열 인덱싱

In [31]:
str_ = '0123456789'
str_

'0123456789'

In [32]:
str_[0], str_[2],str_[-1], str_[-3] #음수인덱싱은 맨 마지막이 -1

('0', '2', '9', '7')

In [33]:
str[10]#없는 인덱싱은 에러

TypeError: 'type' object is not subscriptable

### ※ 문자열 슬라이싱

In [42]:
'''
문자열변수[from:to] : from부터 to앞까지 추출
문자열 변수[from:tp:step] : from부터 to앞까지 step씩 전진하면서 추출
    from 생략시 처음부터
    to   생략시 끝까지
    step 생략시 1


'''

str_[0:3], str_[:3] # from 생략시 처음부터

('012', '012')

In [44]:

str_[5:10], str_[5:]

('56789', '56789')

In [39]:
str_[-5:-1] # -5번쨰 부터 -1번쨰 앞까지
str_[-5:-1]

'5678'

In [40]:
str_[-5:-1]

'5678'

In [37]:
str_[2:6]

'2345'

In [38]:
str_[0:10:2]

'02468'

In [91]:
str_[9:0:-1]#  9번째부터 0번째전까지 -1씩 전진 추출

'987654321'

In [92]:
# quiz : 마지막글씨부터 처음글씨까지 꺼꾸로 출력 9876543210

In [45]:
print(str_[9::-1])
print(str_[::-1])
print(str_[-1::-1])


print(str_[9::-1])

9876543210
9876543210
9876543210
9876543210

## 3.3 논리형(True / False)

In [94]:
a = 10 > 5
print(a)
print(type(a))
print(isinstance(a, bool))

True
<class 'bool'>
True

In [95]:
int(True), int(False)

(1, 0)

In [96]:
bool(-1000), bool(0), bool("김길동"), bool(" ")

(True, False, True, True)

In [97]:
# False로 간주되는 것 : 0, ""-(빈스트링), []-(빈리스트), ()-빈튜플, {}-빈딕셔너리, None
# False로 판별되는 경우를 제외하고는 모두 True

In [98]:
if None:
    print("True")
else:
    print("False")

False

In [99]:
name = input("이름은?")
if name: # name이 빈스트링이 아니면
    print('당신 이름은', name)
else:
    print('이름을 입력 안 하셨군요')

이름은?
이름을 입력 안 하셨군요

## 3.4 자료형 확인 및 형볂놘 함수
- type(), 
- isinstance(변수, 타입) : 변수가 해당 타입인지 여부
- float() : 실수형으로 변환
- int()   : 정수형으로 변환
- str()   : 문자형으로 변환
- bool()  : 논리형으로 변환

In [100]:
float(4), float("4.1"), int(4.9), int("4"), str(), str()

TypeError: 'str' object is not callable

In [ ]:
# 에러나는 경우들
#int(""), int(" "), int(None), int("123.9") ,int("9,000
#float(""),float(" "),float(None)

In [117]:
del print

NameError: name 'print' is not defined

# 4절. 포매팅
- 포매팅이란 출력할 문자, 숫자, 날짜 데이터의 형식을 지정하는 것
## 4.1 문자열에 형식 지정

In [118]:
name = "홍길동"
age = 30
del print
print(name + '님의 나이는 ' + str(age) + '살입니다')
print(name, '님의 나이는 ', age, "살입니다", sep='')

NameError: name 'print' is not defined

In [126]:
# %s:문자, %d:10진수, %f:실수
print("%s님의 나이는 %d살입니다"%(name,age))
print(f"{name:>s}님의 나이는 {age}살입니다")

홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다

In [128]:
print("{}님의 나이는 {}살입니다".format(name,age))
print("{0}님의 나이는 {1}살입니다".format(name,age))
print("{1:>5s}님의 나이는 {0:$<3d}살입니다".format(age,name))

홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다
  홍길동님의 나이는 30$살입니다

## 4.2 format() 문법
- "{[인덱스]:[공백대체문자].[정렬방식].[자릿수].[타입]}".format(변수명)
    *인덱스 : format 함수 안의 매개변수 순서
    *정렬방식 : <(왼쪽정렬), > (오른쪽정렬), ^(가운데정렬)
    *정수자릿수 : 출력할 자릿수
    *문자자릿수 : 저네출력될자리수. 변수중에 출력할 자릿수
    *타입 : d(10진수), 0(8진수), x(16진수), b(2진수), f(실수), s(문자)
    *공백대체문자는 정렬방식을 명시하여야 함

In [132]:
# 숫자의 경우 오른쪽 정렬(기본)
# 문자의 경우 왼쪽 정렬(기본)
# 변수보다 작은 자리수를 지정하면 자릿수 무시되고 다 출력(정수자릿수)
a = 12345
s = 'Hello'
print("[{0}] [{0:10}] [{0:3}]".format(a))
print("[{0}] [{0:10}] [{0:3}]".format(s))

[12345] [     12345] [12345]
[Hello] [Hello     ] [Hello]

In [134]:
# 정렬방식 : <, ^, >
a,b,c = 10,20,3
print("[{:<4}] [{:^4}] [{:>4}]".format(a,b,c))

[10  ] [ 20 ] [   3]

In [141]:
# 실수 자릿수 ex.10.2f: 전체 10자리 소수점 2자리 / 6.2 : 전체 6자리중 2자리 출력
a = 10
f = 12.569
s = "Hello"

print("[{:$>10}] [{:6.2f}] [{:_>6.2}]".format(a, f , s))

[$$$$$$$$10] [ 12.57] [____He]

In [146]:
# 자리수앞에 +를 붙이면 양수의 경우도 부호출력
# 부호나 소수점도 자릿수에 포함
a , b  = 123, -123
print("[{:+10}], [{:+10}], [{:10}]".format(a,b, b))
print("[{:=10}], [{:=10}], [{:10}]".format(a,b, b))
print("[{:=+10}], [{:=+10}], [{:10}]".format(a,b, b))

[      +123], [      -123], [      -123]
[       123], [-      123], [      -123]
[+      123], [-      123], [      -123]

In [150]:
# 10진수 , 8진수, 167진수, 2진수 출력
a = 15
print("10진수 [{:4d}]".format(a))
print("8진수 [{:4o}]".format(a))
print("16진수 [{:4x}]".format(a))
print("2진수 [{:4b}]".format(a))

10진수 [  15]
8진수 [  17]
16진수 [   f]
2진수 [1111]

In [162]:
a = 2.785
sign = "+"
width = 10
precision = 4
print("[{:{}{}.{}}]".format(a, sign, width, precision))
print("[{:{sign}{width}.{precision}}]".format(a, sign= sign, width = width, precision = precision))

[    +2.785]
[    +2.785]

## 4.3 날짜출력

In [171]:
#import datetime # datetime 모듈(파이썬 프로그램 파일 datetime.py) 전체를 메모리 Load
from datetime import datetime # datetime모듈안의 datetime 만 메모리에 Load
thatday1 = datetime(2025,9,11) # 25년 9월 11일  0시 0분 0초
thatday2 = datetime(2025,9,11,14,30,0)
thatday1

datetime.datetime(2025, 9, 11, 0, 0)

In [172]:
# Y(년도4자리0, y(년도2자리) m(월) d(일) p(am/pm) I(12시간) H(24시간) M(분) S(초)
print("{:%Y년 %m월 %d일 %H시 %M분 %S초}".format(thatday1))
print("{:%Y년 %m월 %d일 %p %I시 %M분 %S초}".format(thatday2))

2025년 09월 11일 00시 00분 00초
2025년 09월 11일 PM 02시 30분 00초

In [173]:
thatday1.strftime("%Y년 %m월 %d일 %H시 %M분 %S초")

'2025년 09월 11일 00시 00분 00초'

In [175]:
thatday2.strftime("%d년 %m월 %d일 %p %I시 %M분 %S초")

'11년 09월 11일 PM 02시 30분 00초'

In [177]:
#현재의 날짜와 시간
#datetime(2025,9,11,25,40) : 특정한 날짜와 시간
now = datetime.now() # 지금
now - thatday1 # 날짜형 변수끼리 연산 가능

datetime.timedelta(days=4, seconds=53710, microseconds=678792)

In [181]:
#지금(날짜와 시간) 원하는 스타일로 출력
print("{:%Y - %m = %d %p %I:%M}".format(now))
print(now.strftime("%Y-%m-%d %p %I:%M"))

2025 - 09 = 15 PM 02:55
2025-09-15 PM 02:55

In [183]:
# 지금을 문자열로 전화하는 함수
from time import strftime
strftime("%Y-%m-%d %p %I:%M")

'2025-09-15 PM 02:59'