In [32]:
import pandas as pd

In [35]:
fp = "data/power_weather_day.csv.gz"

In [37]:

df = pd.read_csv(fp, compression="gzip", encoding="utf-8")

In [40]:
df.head(466)

,sido,region,date,y,year,month,day,weekday,is_weekend,TA_AVG,TA_MIN,TA_MAX,temp_range
0,11650,10700,2022-06-28,10782.0565,2022,6,28,1,0,26.9,25.7,27.9,2.2
1,11650,10800,2022-06-28,11394.8635,2022,6,28,1,0,26.9,25.7,27.9,2.2
2,11650,10900,2022-06-28,7273.9620,2022,6,28,1,0,26.9,25.7,27.9,2.2
3,11740,10300,2022-06-28,11008.8110,2022,6,28,1,0,26.9,25.7,27.9,2.2
4,11710,11300,2022-06-28,2905.1120,2022,6,28,1,0,26.9,25.7,27.9,2.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
461,11410,10400,2022-06-28,1885.9270,2022,6,28,1,0,26.9,25.7,27.9,2.2
462,11410,10500,2022-06-28,839.2730,2022,6,28,1,0,26.9,25.7,27.9,2.2
463,11380,11000,2022-06-28,1631.0080,2022,6,28,1,0,26.9,25.7,27.9,2.2
464,11290,13900,2022-06-28,5146.2715,2022,6,28,1,0,26.9,25.7,27.9,2.2
465,11305,10100,2022-06-28,10094.1590,2022,6,28,1,0,26.9,25.7,27.9,2.2

In [6]:
# df = df.rename(columns={
#     "y": "electricity_kwh"
# })

In [7]:
# #저장
# df.to_csv(
#     "data/power_weather_day.csv.gz",
#     index=False,
#     encoding="utf-8",
#     compression="gzip"
# )

In [5]:
#df = df.sort_values("date").reset_index(drop=True)

In [18]:
X = df.drop(columns=["electricity_kwh", "date"])
y = df["electricity_kwh"]

In [19]:
X.head()

,region,year,month,day,weekday,is_weekend,TA_AVG,TA_MIN,TA_MAX,temp_range
0,10700,2022,6,28,1,0,26.9,25.7,27.9,2.2
1,10800,2022,6,28,1,0,26.9,25.7,27.9,2.2
2,10900,2022,6,28,1,0,26.9,25.7,27.9,2.2
3,10300,2022,6,28,1,0,26.9,25.7,27.9,2.2
4,11300,2022,6,28,1,0,26.9,25.7,27.9,2.2

In [20]:
y.head()

0    10782.0565
1    11394.8635
2     7273.9620
3    11008.8110
4     2905.1120
Name: electricity_kwh, dtype: float64

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.2,
    shuffle=False
)

In [27]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(
    n_estimators=40,
    max_depth=15,
    min_samples_leaf=5,
    random_state=21,
    n_jobs=-1
)

model.fit(X_train, y_train)

RandomForestRegressor(max_depth=15, min_samples_leaf=5, n_estimators=40,
                      n_jobs=-1, random_state=21)

In [24]:
y_pred = model.predict(X_test)

In [25]:
y_pred

array([ 2000.8950944 , 12096.07690039,  4165.84117937, ...,
         469.95287619,  4165.84117937,  4165.84117937])

In [26]:
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

print("RMSE:", rmse)
print("R2:", r2)

RMSE: 23501.178510447895
R2: 0.025416897912722503