In [1]:
import pandas as pd

In [2]:
fp = "data/power_weather_day.csv.gz"

In [3]:

df = pd.read_csv(fp, compression="gzip", encoding="utf-8")

In [4]:
df.head()

,region,date,electricity_kwh,year,month,day,weekday,is_weekend,TA_AVG,TA_MIN,TA_MAX,temp_range
0,10700,2022-06-28,10782.0565,2022,6,28,1,0,26.9,25.7,27.9,2.2
1,10800,2022-06-28,11394.8635,2022,6,28,1,0,26.9,25.7,27.9,2.2
2,10900,2022-06-28,7273.9620,2022,6,28,1,0,26.9,25.7,27.9,2.2
3,10300,2022-06-28,11008.8110,2022,6,28,1,0,26.9,25.7,27.9,2.2
4,11300,2022-06-28,2905.1120,2022,6,28,1,0,26.9,25.7,27.9,2.2

In [6]:
df = df.rename(columns={
    "y": "electricity_kwh"
})

In [7]:
#저장
df.to_csv(
    "data/power_weather_day.csv.gz",
    index=False,
    encoding="utf-8",
    compression="gzip"
)

In [5]:
df = df.sort_values("date").reset_index(drop=True)

In [6]:
X = df.drop(columns=["electricity_kwh", "date"])
y = df["electricity_kwh"]

In [7]:
X.head()

,region,year,month,day,weekday,is_weekend,TA_AVG,TA_MIN,TA_MAX,temp_range
0,10700,2022,6,28,1,0,26.9,25.7,27.9,2.2
1,10900,2022,6,28,1,0,26.9,25.7,27.9,2.2
2,13900,2022,6,28,1,0,26.9,25.7,27.9,2.2
3,10500,2022,6,28,1,0,26.9,25.7,27.9,2.2
4,10200,2022,6,28,1,0,26.9,25.7,27.9,2.2

In [11]:
y.head()

0    10782.0565
1     5905.3040
2     7637.3515
3     1181.9670
4     5823.5935
Name: electricity_kwh, dtype: float64

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.2,
    shuffle=False
)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(
    n_estimators=100,
    max_depth=10,
    min_samples_leaf=5,
    random_state=42,
    n_jobs=-1
)

model.fit(X_train, y_train)