In [59]:
power1 = "data/결과물/power_region.csv.gz"

weather1 = "data/결과물/weather.csv.gz"

In [4]:
import pandas as pd

power = pd.read_csv(
    power1,
    compression="gzip",
    encoding="utf-8"
)

In [5]:
import pandas as pd

weather = pd.read_csv(
    weather1,
    compression="gzip",
    encoding="utf-8"
)

In [7]:
power.head()

        법정동코드           법정동명 폐지구분             datetime  FDRCT_VLD_KWH
0  1165010700  서울특별시 서초구 반포동   현존  2022-06-28 01:00:00     10782.0565
1  1165010800  서울특별시 서초구 서초동   현존  2022-06-28 01:00:00     11394.8635
2  1165010900  서울특별시 서초구 내곡동   현존  2022-06-28 01:00:00      7273.9620
3  1174010300  서울특별시 강동구 상일동   현존  2022-06-28 01:00:00     11008.8110
4  1171011300  서울특별시 송파구 거여동   현존  2022-06-28 01:00:00      2905.1120

In [9]:
weather.head()

         date  TA_AVG  TA_MIN  TA_MAX  temp_range
0  2022-01-01    -4.3   -10.2     2.3        12.5
1  2022-01-02    -1.3    -5.2     3.0         8.2
2  2022-01-03    -1.9    -8.0     2.5        10.5
3  2022-01-04    -2.5    -5.6     1.0         6.6
4  2022-01-05    -2.8    -7.8     1.9         9.7

In [11]:
power.head(3)
power.dtypes

법정동코드              int64
법정동명              object
폐지구분              object
datetime          object
FDRCT_VLD_KWH    float64
dtype: object

In [13]:
power["datetime"] = pd.to_datetime(
    power["datetime"],
    errors="raise"
)

In [15]:
power.dtypes

법정동코드                     int64
법정동명                     object
폐지구분                     object
datetime         datetime64[ns]
FDRCT_VLD_KWH           float64
dtype: object

In [17]:
power["date"] = power["datetime"].dt.date

In [30]:
power.head(44)

,법정동코드,법정동명,폐지구분,datetime,FDRCT_VLD_KWH,date
0,1165010700,서울특별시 서초구 반포동,현존,2022-06-28 01:00:00,10782.0565,2022-06-28
1,1165010800,서울특별시 서초구 서초동,현존,2022-06-28 01:00:00,11394.8635,2022-06-28
2,1165010900,서울특별시 서초구 내곡동,현존,2022-06-28 01:00:00,7273.9620,2022-06-28
3,1174010300,서울특별시 강동구 상일동,현존,2022-06-28 01:00:00,11008.8110,2022-06-28
4,1171011300,서울특별시 송파구 거여동,현존,2022-06-28 01:00:00,2905.1120,2022-06-28
5,1171011400,서울특별시 송파구 마천동,현존,2022-06-28 01:00:00,3416.9310,2022-06-28
6,1174010100,서울특별시 강동구 명일동,현존,2022-06-28 01:00:00,10473.6130,2022-06-28
7,1171010900,서울특별시 송파구 장지동,현존,2022-06-28 01:00:00,14196.5290,2022-06-28
8,1171011100,서울특별시 송파구 방이동,현존,2022-06-28 01:00:00,5894.3225,2022-06-28
9,1171011200,서울특별시 송파구 오금동,현존,2022-06-28 01:00:00,6393.6870,2022-06-28
10,1171010700,서울특별시 송파구 가락동,현존,2022-06-28 01:00:00,13120.0605,2022-06-28
11,1174010800,서울특별시 강동구 성내동,현존,2022-06-28 01:00:00,1587.4825,2022-06-28
12,1174010900,서울특별시 강동구 천호동,현존,2022-06-28 01:00:00,14577.3425,2022-06-28
13,1174011000,서울특별시 강동구 강일동,현존,2022-06-28 01:00:00,5817.6600,2022-06-28
14,1174010500,서울특별시 강동구 길동,현존,2022-06-28 01:00:00,11980.0430,2022-06-28
15,1174010600,서울특별시 강동구 둔촌동,현존,2022-06-28 01:00:00,5490.2630,2022-06-28
16,1174010700,서울특별시 강동구 암사동,현존,2022-06-28 01:00:00,16058.2695,2022-06-28
17,1174010200,서울특별시 강동구 고덕동,현존,2022-06-28 01:00:00,4715.9115,2022-06-28
18,1150010300,서울특별시 강서구 화곡동,현존,2022-06-28 01:00:00,11404.2330,2022-06-28
19,1150010900,서울특별시 강서구 방화동,현존,2022-06-28 01:00:00,10757.0260,2022-06-28
20,1156011300,서울특별시 영등포구 당산동3가,현존,2022-06-28 01:00:00,5458.9125,2022-06-28
21,1168010300,서울특별시 강남구 개포동,현존,2022-06-28 01:00:00,7147.3775,2022-06-28
22,1156011100,서울특별시 영등포구 당산동1가,현존,2022-06-28 01:00:00,2121.3760,2022-06-28
23,1156013100,서울특별시 영등포구 양화동,현존,2022-06-28 01:00:00,9050.8580,2022-06-28
24,1150011100,서울특별시 강서구 과해동,현존,2022-06-28 01:00:00,26.5400,2022-06-28
25,1156011400,서울특별시 영등포구 당산동4가,현존,2022-06-28 01:00:00,4230.8085,2022-06-28
26,1156011500,서울특별시 영등포구 당산동5가,현존,2022-06-28 01:00:00,4080.9010,2022-06-28
27,1150010800,서울특별시 강서구 공항동,현존,2022-06-28 01:00:00,5086.3670,2022-06-28
28,1156013200,서울특별시 영등포구 신길동,현존,2022-06-28 01:00:00,12185.7015,2022-06-28
29,1168010800,서울특별시 강남구 논현동,현존,2022-06-28 01:00:00,14725.3685,2022-06-28
30,1168011000,서울특별시 강남구 압구정동,현존,2022-06-28 01:00:00,4944.2710,2022-06-28
31,1156011600,서울특별시 영등포구 당산동6가,현존,2022-06-28 01:00:00,2075.6330,2022-06-28
32,1168010600,서울특별시 강남구 대치동,현존,2022-06-28 01:00:00,12539.9040,2022-06-28
33,1168011100,서울특별시 강남구 세곡동,현존,2022-06-28 01:00:00,4883.7725,2022-06-28
34,1171010600,서울특별시 송파구 삼전동,현존,2022-06-28 01:00:00,4437.2705,2022-06-28
35,1168011300,서울특별시 강남구 율현동,현존,2022-06-28 01:00:00,1007.8465,2022-06-28
36,1168010700,서울특별시 강남구 신사동,현존,2022-06-28 01:00:00,17062.3780,2022-06-28
37,1171010300,서울특별시 송파구 풍납동,현존,2022-06-28 01:00:00,17796.7675,2022-06-28
38,1171010400,서울특별시 송파구 송파동,현존,2022-06-28 01:00:00,5061.7555,2022-06-28
39,1168010400,서울특별시 강남구 청담동,현존,2022-06-28 01:00:00,14879.2560,2022-06-28
40,1168010500,서울특별시 강남구 삼성동,현존,2022-06-28 01:00:00,35358.3925,2022-06-28
41,1168011200,서울특별시 강남구 자곡동,현존,2022-06-28 01:00:00,5986.8490,2022-06-28
42,1156012100,서울특별시 영등포구 문래동3가,현존,2022-06-28 01:00:00,9337.6525,2022-06-28
43,1171010500,서울특별시 송파구 석촌동,현존,2022-06-28 01:00:00,14147.4580,2022-06-28

In [22]:
power_day = (
    power
    .groupby(["법정동코드", "법정동명", "date"], as_index=False)
    ["FDRCT_VLD_KWH"]
    .sum()
    .rename(columns={"FDRCT_VLD_KWH": "electricity_kwh_day"})
)

In [46]:
power_day.head(4)

,법정동코드,법정동명,date,electricity_kwh_day,TA_AVG,TA_MIN,TA_MAX,temp_range
0,1111010100,서울특별시 종로구 청운동,2022-12-04,140153.5620,NaN,NaN,NaN,NaN
1,1111010100,서울특별시 종로구 청운동,2022-12-05,177295.5910,NaN,NaN,NaN,NaN
2,1111010100,서울특별시 종로구 청운동,2022-12-06,157455.9380,NaN,NaN,NaN,NaN
3,1111010100,서울특별시 종로구 청운동,2022-12-07,3107.5405,NaN,NaN,NaN,NaN

In [34]:
weather.head()

         date  TA_AVG  TA_MIN  TA_MAX  temp_range
0  2022-01-01    -4.3   -10.2     2.3        12.5
1  2022-01-02    -1.3    -5.2     3.0         8.2
2  2022-01-03    -1.9    -8.0     2.5        10.5
3  2022-01-04    -2.5    -5.6     1.0         6.6
4  2022-01-05    -2.8    -7.8     1.9         9.7

In [35]:
power_day.columns

Index(['법정동코드', '법정동명', 'date', 'electricity_kwh_day'], dtype='object')

In [36]:
power_weather_day = power_day.merge(
    weather,
    on="date",
    how="left"
)

In [41]:
power_day.head(122)

,법정동코드,법정동명,date,electricity_kwh_day,TA_AVG,TA_MIN,TA_MAX,temp_range
0,1111010100,서울특별시 종로구 청운동,2022-12-04,140153.5620,NaN,NaN,NaN,NaN
1,1111010100,서울특별시 종로구 청운동,2022-12-05,177295.5910,NaN,NaN,NaN,NaN
2,1111010100,서울특별시 종로구 청운동,2022-12-06,157455.9380,NaN,NaN,NaN,NaN
3,1111010100,서울특별시 종로구 청운동,2022-12-07,3107.5405,NaN,NaN,NaN,NaN
4,1111010100,서울특별시 종로구 청운동,2022-12-08,171442.0635,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
117,1111010100,서울특별시 종로구 청운동,2023-04-19,115079.1555,NaN,NaN,NaN,NaN
118,1111010100,서울특별시 종로구 청운동,2023-04-20,115954.9640,NaN,NaN,NaN,NaN
119,1111010100,서울특별시 종로구 청운동,2023-04-21,113594.9465,NaN,NaN,NaN,NaN
120,1111010100,서울특별시 종로구 청운동,2023-04-22,107213.4590,NaN,NaN,NaN,NaN
121,1111010100,서울특별시 종로구 청운동,2023-04-23,107467.3345,NaN,NaN,NaN,NaN

In [45]:
power_day["date"].dtype

dtype('O')

In [44]:
weather["date"].dtype

dtype('O')

In [49]:
power_day["date"] = pd.to_datetime(power_day["date"], errors="coerce")
weather["date"] = pd.to_datetime(weather["date"], errors="coerce")

In [51]:
power_weather_day = power_day.merge(
    weather,
    on="date",
    how="left"
)

In [56]:
power_weather_day = power_weather_day.rename(columns={
    "TA_AVG_y": "temp_avg",
    "TA_MIN_y": "temp_min",
    "TA_MAX_y": "temp_max",
    "temp_range_y": "temp_range",
})

In [57]:
power_weather_day.head()

,법정동코드,법정동명,date,electricity_kwh_day,temp_avg,temp_min,temp_max,temp_range
0,1111010100,서울특별시 종로구 청운동,2022-12-04,140153.5620,-3.5,-5.2,-0.2,5.0
1,1111010100,서울특별시 종로구 청운동,2022-12-05,177295.5910,-3.1,-7.0,1.9,8.9
2,1111010100,서울특별시 종로구 청운동,2022-12-06,157455.9380,0.9,-3.9,5.3,9.2
3,1111010100,서울특별시 종로구 청운동,2022-12-07,3107.5405,4.9,1.2,9.0,7.8
4,1111010100,서울특별시 종로구 청운동,2022-12-08,171442.0635,3.7,0.1,9.1,9.0

In [58]:
power_weather_day.to_csv(
    "power_day_weather.csv.gz",
    index=False,
    encoding="utf-8",
    compression="gzip"
)

In [ ]:
data.to_csv(
    "power_day_weather.csv.gz",
    index=False,
    encoding="utf-8",
    compression="gzip"
)