In [4]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:60% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:22pt;}
div.text_cell_render.rendered_html{font-size:18pt;}
div.text_cell_render ul li{font-size:22pt; line-height:30px;}
div.output {font-size:22pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:22pt;}
div.prompt {min-width:60px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:22pt;padding:5px;}
table.dataframe{font-size:16px;}
</style>
"""))

# 1. 데이터 셋

In [5]:
import pandas as pd
df = pd.read_csv('data/ch13_df(결측치중위값으로대체).csv')
df.head()

  지역명   평당분양가격    연도   월
0  서울  18189.0  2013  12
1  부산   8111.0  2013  12
2  대구   8080.0  2013  12
3  인천  10204.0  2013  12
4  광주   6098.0  2013  12

In [20]:
df

     지역명   평당분양가격    연도   월  지역명2
0     서울  18189.0  2013  12     8
1     부산   8111.0  2013  12     7
2     대구   8080.0  2013  12     5
3     인천  10204.0  2013  12    11
4     광주   6098.0  2013  12     4
...   ..      ...   ...  ..   ...
2171  전북  12058.2  2024   8    13
2172  전남  13120.8  2024   8    12
2173  경북  13827.0  2024   8     3
2174  경남  13252.8  2024   8     2
2175  제주  25419.9  2024   8    14

[2176 rows x 5 columns]

지역명2 : 지역명필드를 라벨인코딩하여 추가
독립변수 : 지역명2, 연도, 월
타겟변수 : 평당분양가격
독립변수와 타겟변수의 스케일 조정
정규화(MinMaxScaler) 작업후 : 지역명2m, 연도m, 월m
표준화(StandardScaler) 작업후 : 지역명2s, 연도s, 월s => 지역명, 연도, 월, 지역명2, 지역명2m, 연도m, 월m, 지역명2s, 연도s, 월s

In [11]:
from tensorflow.keras.utils import to_categorical

# 2. 지역명의 라벨인코딩
-지역명2

In [12]:
X = df[['지역명']].values

In [15]:
from sklearn.preprocessing import LabelEncoder


X_flat = X.ravel()  # 또는 X.flatten()

le = LabelEncoder()
labeling_data = le.fit_transform(X_flat)

print('라벨인코딩된 데이터 :', labeling_data)

라벨인코딩된 데이터 : [ 8  7  5 ...  3  2 14]

In [19]:
df['지역명2'] = le.fit_transform(df['지역명'])

# 3. MinMaxScale조정

In [21]:
X = df[['지역명2', '연도','월']].values # numpy배열로 추출한 독립변수
y = df[['평당분양가격']].values
X.shape, y.shape

((2176, 3), (2176, 1))

In [27]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

scaler = MinMaxScaler()


df[['지역명2m', '연도m', '월m']] = scaler.fit_transform(df[['지역명2', '연도', '월']])


print(df)

     지역명     평당분양가격    연도   월  지역명2  지역명2m    연도m     월m
0     서울 18189.0000  2013  12     8 0.5000 0.0000 1.0000
1     부산  8111.0000  2013  12     7 0.4375 0.0000 1.0000
2     대구  8080.0000  2013  12     5 0.3125 0.0000 1.0000
3     인천 10204.0000  2013  12    11 0.6875 0.0000 1.0000
4     광주  6098.0000  2013  12     4 0.2500 0.0000 1.0000
...   ..        ...   ...  ..   ...    ...    ...    ...
2171  전북 12058.2000  2024   8    13 0.8125 1.0000 0.6364
2172  전남 13120.8000  2024   8    12 0.7500 1.0000 0.6364
2173  경북 13827.0000  2024   8     3 0.1875 1.0000 0.6364
2174  경남 13252.8000  2024   8     2 0.1250 1.0000 0.6364
2175  제주 25419.9000  2024   8    14 0.8750 1.0000 0.6364

[2176 rows x 8 columns]

In [29]:
# pip install tabulate
from tabulate import tabulate

print(tabulate(df.head(10), headers='keys', tablefmt='grid', showindex=False))

+----------+----------------+--------+------+-----------+------------+---------+-------+
| 지역명   |   평당분양가격 |   연도 |   월 |   지역명2 |   지역명2m |   연도m |   월m |
+==========+================+========+======+===========+============+=========+=======+
| 서울     |          18189 |   2013 |   12 |         8 |     0.5    |       0 |     1 |
+----------+----------------+--------+------+-----------+------------+---------+-------+
| 부산     |           8111 |   2013 |   12 |         7 |     0.4375 |       0 |     1 |
+----------+----------------+--------+------+-----------+------------+---------+-------+
| 대구     |           8080 |   2013 |   12 |         5 |     0.3125 |       0 |     1 |
+----------+----------------+--------+------+-----------+------------+---------+-------+
| 인천     |          10204 |   2013 |   12 |        11 |     0.6875 |       0 |     1 |
+----------+----------------+--------+------+-----------+------------+---------+-------+
| 광주     |           6098 |   2013 |   12 |         4 |     0.25   |       0 |     1 |
+----------+----------------+--------+------+-----------+------------+---------+-------+
| 대전     |           8321 |   2013 |   12 |         6 |     0.375  |       0 |     1 |
+----------+----------------+--------+------+-----------+------------+---------+-------+
| 울산     |           8090 |   2013 |   12 |        10 |     0.625  |       0 |     1 |
+----------+----------------+--------+------+-----------+------------+---------+-------+
| 경기     |          10855 |   2013 |   12 |         1 |     0.0625 |       0 |     1 |
+----------+----------------+--------+------+-----------+------------+---------+-------+
| 세종     |           7601 |   2013 |   12 |         9 |     0.5625 |       0 |     1 |
+----------+----------------+--------+------+-----------+------------+---------+-------+
| 강원     |           6230 |   2013 |   12 |         0 |     0      |       0 |     1 |
+----------+----------------+--------+------+-----------+------------+---------+-------+

4. standardScale 조정

In [31]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler


scaler = StandardScaler()


df[['지역명2s', '연도s', '월s']] = scaler.fit_transform(df[['지역명2', '연도', '월']])


print(df)

     지역명     평당분양가격    연도   월  지역명2  지역명2m    연도m     월m   지역명2s     연도s     월s
0     서울 18189.0000  2013  12     8 0.5000 0.0000 1.0000  0.0000 -1.8754 1.6220
1     부산  8111.0000  2013  12     7 0.4375 0.0000 1.0000 -0.2041 -1.8754 1.6220
2     대구  8080.0000  2013  12     5 0.3125 0.0000 1.0000 -0.6124 -1.8754 1.6220
3     인천 10204.0000  2013  12    11 0.6875 0.0000 1.0000  0.6124 -1.8754 1.6220
4     광주  6098.0000  2013  12     4 0.2500 0.0000 1.0000 -0.8165 -1.8754 1.6220
...   ..        ...   ...  ..   ...    ...    ...    ...     ...     ...    ...
2171  전북 12058.2000  2024   8    13 0.8125 1.0000 0.6364  1.0206  1.6642 0.4637
2172  전남 13120.8000  2024   8    12 0.7500 1.0000 0.6364  0.8165  1.6642 0.4637
2173  경북 13827.0000  2024   8     3 0.1875 1.0000 0.6364 -1.0206  1.6642 0.4637
2174  경남 13252.8000  2024   8     2 0.1250 1.0000 0.6364 -1.2247  1.6642 0.4637
2175  제주 25419.9000  2024   8    14 0.8750 1.0000 0.6364  1.2247  1.6642 0.4637

[2176 rows x 11 columns]

In [32]:
print(tabulate(df.head(10), headers='keys', tablefmt='grid', showindex=False))

+----------+----------------+--------+------+-----------+------------+---------+-------+------------+----------+---------+
| 지역명   |   평당분양가격 |   연도 |   월 |   지역명2 |   지역명2m |   연도m |   월m |   지역명2s |    연도s |     월s |
+==========+================+========+======+===========+============+=========+=======+============+==========+=========+
| 서울     |          18189 |   2013 |   12 |         8 |     0.5    |       0 |     1 |   0        | -1.87537 | 1.62196 |
+----------+----------------+--------+------+-----------+------------+---------+-------+------------+----------+---------+
| 부산     |           8111 |   2013 |   12 |         7 |     0.4375 |       0 |     1 |  -0.204124 | -1.87537 | 1.62196 |
+----------+----------------+--------+------+-----------+------------+---------+-------+------------+----------+---------+
| 대구     |           8080 |   2013 |   12 |         5 |     0.3125 |       0 |     1 |  -0.612372 | -1.87537 | 1.62196 |
+----------+----------------+--------+------+-----------+------------+---------+-------+------------+----------+---------+
| 인천     |          10204 |   2013 |   12 |        11 |     0.6875 |       0 |     1 |   0.612372 | -1.87537 | 1.62196 |
+----------+----------------+--------+------+-----------+------------+---------+-------+------------+----------+---------+
| 광주     |           6098 |   2013 |   12 |         4 |     0.25   |       0 |     1 |  -0.816497 | -1.87537 | 1.62196 |
+----------+----------------+--------+------+-----------+------------+---------+-------+------------+----------+---------+
| 대전     |           8321 |   2013 |   12 |         6 |     0.375  |       0 |     1 |  -0.408248 | -1.87537 | 1.62196 |
+----------+----------------+--------+------+-----------+------------+---------+-------+------------+----------+---------+
| 울산     |           8090 |   2013 |   12 |        10 |     0.625  |       0 |     1 |   0.408248 | -1.87537 | 1.62196 |
+----------+----------------+--------+------+-----------+------------+---------+-------+------------+----------+---------+
| 경기     |          10855 |   2013 |   12 |         1 |     0.0625 |       0 |     1 |  -1.42887  | -1.87537 | 1.62196 |
+----------+----------------+--------+------+-----------+------------+---------+-------+------------+----------+---------+
| 세종     |           7601 |   2013 |   12 |         9 |     0.5625 |       0 |     1 |   0.204124 | -1.87537 | 1.62196 |
+----------+----------------+--------+------+-----------+------------+---------+-------+------------+----------+---------+
| 강원     |           6230 |   2013 |   12 |         0 |     0      |       0 |     1 |  -1.63299  | -1.87537 | 1.62196 |
+----------+----------------+--------+------+-----------+------------+---------+-------+------------+----------+---------+