In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color ="red" > ch02. 자료형과 연산자 </font></b>
# 5절. 연산자
## 5.1 산술연산자 : +,-,*,/(결과 float), //(몫), %(나머지), **(제곱)

In [2]:
print("10*5승 =", 10 ** 5)
print("4/2(결과 실수) =", 5 / 2)
print("5//2(몫) =", 5 // 2)
print("5%2(나머지) =", 5 % 2)

10*5승 = 100000
4/2(결과 실수) = 2.5
5//2(몫) = 2
5%2(나머지) = 1

In [3]:
# 정수끼리 연산은 결과가 정수(단 / 제외)
# 정수와 실수, 실수끼리 연산 결과는 실수
print("4**2 =", 4**2)

4**2 = 16

In [4]:
# quiz1 정수를 입력받아 짝수인지 홀수인지 여부를 출력
num = int(input("정수를 입력하세요:"))
result = num % 2 # -1, 0, 1
if result:
    temp = "홀수"
else:
    temp = "짝수"
    
print(f"입력하신 수는 {num}, 2로 나눈 나머지는 {result}라서 {temp}를 입력하셨습니다")

정수를 입력하세요:

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# quiz2 정수를 입력받아 5의 배수인지 여부를 출력
num = int(input("정수를 입력하세요 : "))
if num % 5:
    temp = "5의 배수가 아님"
else:
    temp = "5의 배수"
    
print(f"입력받은 수는 {num}, 5로 나눈 나머지는 {num % 5}라서 {temp}를 입력하셨습니다")

In [ ]:
### quiz3 국어, 영, 수 점수를 입력받아 다음셀에서 다음과 같이 출력하도록 구현하시오
# 99 100 100 299 99.7
lang = int(input("국어 점수를 입력하세요:"))
eng = int(input("영어 점수를 입력하세요:"))
math = int(input("수학 점수를 입력하세요:"))
sum =lang + eng + math
avg = sum / 3

In [ ]:
print("국어 :{:3d} \t 영어 : {:3d} \t 수학:{:3d}".format(lang,eng,math))
print("총점 :{:4d} \t 평균 : {:5.1f}".format(sum,avg))

## 5.2 할당연산자 : =, +=, -=,/=,*=,//=,%=

In [ ]:
a = 10
a += 5 # a = a + 5
print(f" a = {a}")

In [ ]:
a -= 5
print("5빼기 : ",a)
a *= 10
print("10배 : ",a)
a //= 5 # a = a // 5
print("5 나눈 몫 : ",a)

## 5.3 논리연산자 : &, and, |, or, not

In [ ]:
# & : 논리연산자, 비트연산자
print((10 > 3) & (10 > 5)) #논리연산 True & True
print(12 & 1) # 비트 연산 1 1 0 0 (12)
                    #    0 0 0 1 (1)
                    #    0 0 0 0
print("{:4b}".format(12))

In [ ]:
# and : 논리연산자. False로 판별되는 첫번째 항의 결과 반환
        # 모든 항이 True면, 마지막항의 결과 밤ㄴ환
print((10 > 3) and (10 > 5))
print(0 and 1)

In [ ]:
# | : 논리연산, 비트연산 
result = True | False
print("논리연산(연산자 앞뒤에 논리형일 때) :", result)
result = False | 3 # 0000 (0)
                   # 0011 (3)         
print('비트연산(연산자 앞이나 뒤에 숫자일 때) :', result)

In [ ]:
# or : 논리연산. 참으로 판별되는 첫번째 항의 결과 반환
       # 모든 항이 거짓이면 마지막항의 결과 반환
print(False or 0 or "" or None or [])
print(False or 0 or "Hong" or None or [])

In [ ]:
not 10> 5

## 5.4 비교연산자 : >, >=, <. <=, ==(같다), !=(다르다)

In [ ]:
# 비교연산자는 이항 , 삼항 , 사항 , ..... 다항연산자
x = 95
print( (90 <= x) & (x <= 100))
print( 90 <= x <= 100)
print( 90 <= x <= 100 > 10)

In [5]:
# 비교연산자의 우선순의가 비트연산자(|,&)의 우선순위보다 낮다
print((10 > 5) & (10 > 7))
print(10 > 5 & 10 > 7) # 괄호가 없으면 우선순위가 높은 5&10부터 실행
print( 10 > 0 > 7)
# 0101(5) 1010(10)

True
False
False

In [6]:
address = "목동"
age = 29
print((address == "목동") & (age <= 30))

True

In [7]:
# 문자는 ASCII 코드 순으로 비교:
"scott" < "tiger"

True

In [8]:
"김길동" < "홍길동"

True

## 5.5 비트연산 : & , | , ^ (XOR), ~ (반대)

In [ ]:
'''
x    y      x&y      x|y      x ^y      ~x
------------------------------------------
0    0      0        0        0         1        
0    1      0        1        1         1
1    0      0        1        1         0 
1    1      1        1        0         0


'''

In [15]:
a = 15 # 1111(8 + 4 + 2 + 1)
b =  2 # 0010
print("a = {0:2} : {0:04b}".format(a))
print("a = {0:2} : {0:04b}".format(b))
print("a & b = {0:2} : {0:04b}".format(a&b))
print("a | b = {0:2} : {0:04b}".format(a|b))
print("a ^ b = {0:2} : {0:04b}".format(a^b))
print("~a = {0:2} : {0:04b}".format(~a))

a = 15 : 1111
a =  2 : 0010
a & b =  2 : 0010
a | b = 15 : 1111
a ^ b = 13 : 1101
~a = -16 : -10000

# 6절 문자열 다루기
- 문자열 변수[from:to:step] : 일부 문자 추출
- len(문자열변수)
- upper() : 대문자로
- lower() : 소문자로
- title() : 각 어절의 앞ㄹ글자만 대문자로
- capitalize() : 첫문자만 대문자로
- count("찾을문자") : "찾을문자"가 몇개 들어있는지 갯수 반환
- find("찾을문자") : "찾을문자"가 왼쪽부터 몇번쨰에 있는지 index를 반환 (없으면 -1)
- rfind("찾을문자") : "찾을문자"가 오른쪽부터 몇번째에 있는지 index를 반환 (없으면 -1)
- cf.index("찾을문자") : 찾을문자가 왼쪽부터 몇번쨰에 있는 index를 반환 (없으면 에러)
- startswith("특정문자") : "특정문자"로 시작하는자 여부 반환
- endswith("특정문자") : "특정문자"로 끝나는지 여부 반황

- strip() : 좌우 공백 제거(trim)
- lstrip() : 왼쪽공백제거
- rstrip() : 오른쪽 공백 제거
- **split() : 문자열을 공백이나 다른 문자 기준으로 나누어 리스트로 반환**
- isdigit() : 문자열이 숫자문자열인지 여부 반환
- islower() : 문자열이 소문자인지 여부 반환
- is upper() : 문자열이 대문자인지 여부 반환


- replace(oldStr, newStr) oldStr을 newStr로 변경

In [19]:
temp ="python is easy. python is smart. python"
temp, len(temp)

('python is easy. python is smart. python', 39)

In [36]:
temp ="python is easy. python is smart. python"
    #  012345678901234567890123456789012345678

print("대문자로 :", temp.upper())
print("소문자로 :", temp.lower())
print("title() :", temp.title())
print("capitalize() :", temp.capitalize())
print("C가 몇번 나오는지 :", temp.count("C"))
print("python이 몇번 나오는지 :", temp.count("python"))
print("대소문자 구분없이 python이 몇번 :", temp.lower().count("python"))
print("대소문자 구분없이 python이 몇번 :", temp.upper().count("PYTHON"))
print("대소문자 구분없이 python이 몇번 :", temp.title().count("Python"))
print("python이 나오는 첫index 위치 :", temp.find("python"))
print("python이 나오는 첫index 위치 :", temp.rfind("python"))
print("C가 나오는 index위치 :", temp.find("C")) #찾을 문자가 없을 경우 -1
print("python이 나오는 첫 index 위치 :", temp.index("python"))
# print("python이 나오는 첫 index 위치 :", temp.index("java")) 찾을 문자가 없을 경우 에러
print("대소문자 구분없이 python으로 시작하는 여부 :", temp.lower().startswith("python"))
print("python으로 끝나는지 여부 :", temp.endswith("python"))
print("n으로 끝나는지 여부 :", temp.endswith("n"))
print("python을 R로 변경 :", temp.replace("python","R"))
print(temp)

대문자로 : PYTHON IS EASY. PYTHON IS SMART. PYTHON
소문자로 : python is easy. python is smart. python
title() : Python Is Easy. Python Is Smart. Python
capitalize() : Python is easy. python is smart. python
C가 몇번 나오는지 : 0
python이 몇번 나오는지 : 3
대소문자 구분없이 python이 몇번 : 3
대소문자 구분없이 python이 몇번 : 3
대소문자 구분없이 python이 몇번 : 3
python이 나오는 첫index 위치 : 0
python이 나오는 첫index 위치 : 33
C가 나오는 index위치 : -1
python이 나오는 첫 index 위치 : 0
대소문자 구분없이 python으로 시작하는 여부 : True
python으로 끝나는지 여부 : True
n으로 끝나는지 여부 : True
python을 R로 변경 : R is easy. R is smart. R
python is easy. python is smart. python

In [47]:
temp = "      python is easy          "
notdigit = "1,000"
print("좌우 공백 제거 : [{}]".format(temp.strip()))
print("왼쪽 공백 제거 : [{}]".format(temp.lstrip()))
print("오른쪽 공백 제거 : [{}]".format(temp.rstrip()))
print("isgigit(숫자문자)안지 여부 :", notdigit.isdigit())
print("replace후 isdigit :", notdigit.replace(",","").isdigit())
print("대문자인지 여부 :", temp.isupper())
print("소문자인지 여부 :", temp.islower())

좌우 공백 제거 : [python is easy]
왼쪽 공백 제거 : [python is easy          ]
오른쪽 공백 제거 : [      python is easy]
isgigit(숫자문자)안지 여부 : False
replace후 isdigit : True
대문자인지 여부 : False
소문자인지 여부 : True

In [49]:
names = "홍길동 김길동     박길동 주길동 고길동"
name_list = names.split()
print("space단위로 names 분리(list로 반환) : ", names.split())
print(name_list[0], name_list[1])

space단위로 names 분리(list로 반환) :  ['홍길동', '김길동', '박길동', '주길동', '고길동']
홍길동 김길동

In [55]:
date_str = "2025-09-17"
date_list = date_str.split("-")
print(date_list)
print("년도 :", date_list[0])
print("월 :", date_list[1])
print("일 :", date_list[2])

['2025', '09', '17']
년도 : 2025
월 : 09
일 : 17

In [56]:
#str_ = "ABC"
str _ ["A","B","C"]
str_[0], str_[1], str_[2]

('A', 'B', 'C')

In [61]:
# '   -   '을 "/"로 바꾸기
temp = "Python - 웹(HTML/CSS/JS) - Oracle/MySQL(DBMS) -DL/ML(M ) -LLM(RAG) "
#temp.replace (" - ","/")
#SPLIT() 과 JOIN 이용하여 REPLACD GKA
splited_temp = temp.split(" - ")
print('분리된 temp :', splited_temp)
joined_temp = "/".join(splited_temp) # "/"로 매개변수 list를 연결
print("join temp :", joined_temp)

분리된 temp : ['Python', '웹(HTML/CSS/JS)', 'Oracle/MySQL(DBMS) -DL/ML(M ) -LLM(RAG) ']
join temp : Python/웹(HTML/CSS/JS)/Oracle/MySQL(DBMS) -DL/ML(M ) -LLM(RAG)

In [63]:
# 문자열을 다룰 수 있는 함수들 목록
#dir(str)

# 7절. 시간, 날짜 다루기

In [64]:
import datetime
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [66]:
# datetime모듈(datetiem.py)안의 datetiem, date, time만 Load
from datetime import datetime, date, time

## 7.1 시간과 날짜

In [68]:
#특정 시점을 갖는 datetime 객체 생성
thatday = datetime(2025,9,11,9,30)
thatday

datetime.datetime(2025, 9, 11, 9, 30)

In [71]:
# 날짜를 문자열로 전환
print("{:%y년%d월%d일(%A) %H:%M:%S}".format(thatday))
print(thatday.strftime("%y년%m월%d일(%A) %H:%M:%S"))
print(thatday.ctime()) #ctime() : 사람이 읽기 쉬운 형태로 convert

25년11월11일(Thursday) 09:30:00
25년09월11일(Thursday) 09:30:00
Thu Sep 11 09:30:00 2025

In [73]:
# 지금을 저장하는 datetime 객체 생성
now = datetime.now()
print(now)
print(now.ctime())
print(now.strftime("%dY년%m월%d일 %p %I:%M:%S"))

2025-09-17 14:24:22.489080
Wed Sep 17 14:24:22 2025
17Y년09월17일 PM 02:24:22

In [75]:
diff = now-thatday
print(diff)
print(diff.days)

6 days, 4:54:22.489080
6

## 7.2 날짜

In [78]:
# 특정한 날짜를 갖는 date 객체 생성
someday = date(2025,9,11)
someday

datetime.date(2025, 9, 11)

In [85]:
print(someday)
print(someday.strftime("%Y년 %m월 %d일 %I:%H:%S"))

2025-09-11
2025년 09월 11일 12:00:00

In [86]:
# 오늘을 갖는 date 객체 생성
today1 = date.today()
today2 = datetime.now().date()
print(today1 == today2)

True

In [87]:
print(today1.strftime("%Y년%m월%d일 %H:%M"))
print(today2.strftime("%Y년%m월%d일 %H:%M"))

2025년09월17일 00:00
2025년09월17일 00:00

In [89]:
diff = someday - today1
print(diff)
print(diff.days)

-6 days, 0:00:00
-6

## 7.3시간

In [93]:
# 특정한 시간을 저장하는 time 객체 생성
t = time(14,39,0)
t

datetime.time(14, 39)

In [98]:
# print(t.strftime("%Y년 %m월 %d일 %I:%H:%S"))
print(t.strftime("%p %I:%M"))

PM 02:39

In [99]:
# 현재 시간
nowtime = datetime.now().time()
print(nowtime)

14:43:35.632861

In [100]:
datetime(1752,1,12,13,3)

datetime.datetime(1752, 1, 12, 13, 3)

# 8절, 연습문제

In [200]:
# 1. [출력형식 : 홍길동님의 나이는 23살입니다]
name ='홍길동'
age = 23
print("{}의 나이는 {}살입니다".format(name,age))

홍길동의 나이는 23살입니다

In [187]:
# 2. 정수입력받아 산술연산결과 출력

a = int(input("a :"))
b = int(input("b :"))

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)

a :55
b :33
88
22
1815
1.6666666666666667
1
22

In [169]:
# 3.
message = "Hello World"
message_list = message.split()
print(message_list[1], message_list[0])

World Hello

In [202]:
#4 x = 'abcdef'를 이용하여 'bcdefa'로 출력하세요

x = 'abcdef'
#print(x[1:]+x[0])

#print(x[1:],x[0],sep='')

#print(x[1:6],x[0])

In [183]:
#5 x = 'abcdef'를 이용하여 'fedcba'로 출력하세요
print(x[::-1])

fedcba

In [207]:
#6 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램

# C = (F-32) / 1.8
# F =(C * 1.8) +32

temp =int(input("오늘의 온도:"))

F = (temp * 1.8) + 32
#print("입력하신 섭씨 {}도는 {:.2f}입니다".format(temp,F))

if temp % 1 == 0:
    print("입력하신 섭씨 {}도는 {:.0f}입니다".format(temp,F))
else:
    print("입력하신 섭씨 {}도는 {:.2f}입니다".format(temp,F))

오늘의 온도:33
입력하신 섭씨 33도는 91입니다

In [117]:
#7 변수 선언으로 잘못된것은

#for

#10th

#student.name

In [118]:
# 8 다음 코드의 실행결과는

#text = "Seoul A001 - programming with python"
#print(text[:4] + text[-1] + text.split()[0])
#print(text[:4], text[-1], text.split()[0])


#SeounSeoul
#Seou n Seoul

SeounSeoul
Seou n Seoul

In [ ]:
#9 다음 중 파이썬 3.x버전에서 연산식과 그 결과의 출력이 잘못된 것은?

2

In [154]:
#10 아래 프로그램의 결과는?

#타입에러 발생

In [168]:
str= "우리 나라 대한 민국"
str_list = str.split()

print(str_list[1])

나라