In [8]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:16pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color ="red" > ch03. 데이터구조 </font></b>
- 리스트[1,2, 'a'], 튜플(1,2), 딕셔너리{"name":"홍","score":99}, 셋{10,20}

# 1절 리스트
## 1.1 리스트 만들기
- []를 이요해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- list()함수 이용도 가능
- 인덱스 : 각 요서의 위치. 인덱스는 0부터 시작. 맨마지막 인덱스는 -1
- 슬라이싱([from:to:step]) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [12]:
fruit = 'banana'
fruits = ['banana','apple', 'orange','grape']
type(fruits)

list

In [13]:
print(fruits)
print(fruits[0]) #인덱싱을 이용한 읽기
# print(fruits[4]) 없는 인덱싱시 에러

['banana', 'apple', 'orange', 'grape']
banana

In [14]:
fruits[0] = 'mango' #인덱싱을 이용한 쓰기
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [15]:
fruits = ['mango', 'apple', 'orange']
x,y,z = ['mango', 'apple', 'orange']
print("x={}".format(x))
print(f"z={z}")

x=mango
z=orange

In [19]:

# range(from,to) : from부터 to앞까지 by씩 증가하는 나열 가능한 자료
        # 숫자를 순차적으로 사용할 수 있게
        # from 생략시 0, by 생략시 1
range(10) # [0,1,2,3,4,5,6,7,8,9]

range(0, 10)

In [20]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:

list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

In [28]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [35]:
fruits = ['mango', 'apple', 'orange']
#print("{}번째 과일은 {}".format(0,fruits[0]))
#print("{}번째 과일은 {}".format(1,fruits[1]))                                    
#print("{}번째 과일은 {}".format(2,fruits[2]))       
for idx in range(len(fruits )):
    print("{}번째 과일은 {}".format(idx,fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [36]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange')]

In [42]:
for i, fruit in enumerate(fruits): #[(0, 'mango'), (1, 'apple'), (2, 'orange')]
    print(f"{i}번째 과일은{fruit}")

0번째 과일은mango
1번째 과일은apple
2번째 과일은orange

In [44]:
for fruit in fruits: # ['mango','apple','orange']
    print(f"{fruit}입니다")

mango입니다
apple입니다
orange입니다

In [51]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [0, True, "2",[2,3],[4,5,6]]
numbers[2], numbers[4][1]

('2', 5)

In [52]:
# 2차원 리스트
numbers = [1,2,3,4,5]
         # 0행 1열 2열 3열 4열
numbers_2d = [[1,2,3,4,5], #행
              [10,20,30,40,50], # 1행
              [1,3,5,7,9], # 2행
              [2,4,6,8,10]] #3행
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [54]:
# 특정행, 특정열 데이터 인덱싱
numbers_2d[1][4]

50

In [55]:
print(len(numbers_2d), len(numbers_2d[0]))

4 5

In [58]:
for row in numbers_2d:
    for item in row:
        print(item, end ='\t')
    print()

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [67]:
for i in range(len(numbers_2d)): # i : 행
    for j in range(len(numbers_2d[i])): # j : 열
        print(f"{i}행{j}열 : {numbers_2d[i][j]}",end="\t")
    print() # 개행

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

In [65]:
len(numbers_2d), len(numbers_2d[0]), len(numbers_2d[1]), len(numbers_2d[2])

(4, 5, 5, 5)

In [69]:
list(enumerate(numbers_2d)) , list(enumerate(numbers_2d[0]))

([(0, [1, 2, 3, 4, 5]),
  (1, [10, 20, 30, 40, 50]),
  (2, [1, 3, 5, 7, 9]),
  (3, [2, 4, 6, 8, 10])],
 [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)])

In [74]:
for i, row in enumerate(numbers_2d):
    for j,item in enumerate(numbers_2d[i]):
        print("{}행{}열 : {}".format(i,j,numbers_2d[i][j]), end="\t")
    print()

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

# 1.2 기본 정보 조회

In [77]:
numbers = [1,2,3,4,5]
numbers_2d = [[100,0,20],
              [9,100,100],
              [59,100,130]]

In [78]:
# item 수
len(numbers), len(numbers_2d)

(5, 3)

In [82]:
#최소값, 최댓값
# 2차원 list의 최소/ 최대값: 부분리시트들 중 첫요소가 가장 작은값/큰값
min(numbers), min(numbers_2d),max(numbers),max(numbers_2d)

(1, [9, 100, 100], 5, [100, 0, 20])

In [83]:
# list의 데이터가 문자일 경우 ascii 코드값으로 min과 max적용4
fruits = ['mango', 'apple', 'orange']
min(fruits), max(fruits)

('apple', 'orange')

In [90]:
# 정렬하기
numbers = [1,2,3,4,5]
print("오름차순 정렬 :", sorted(numbers))
print("내림차순 정렬 :", sorted(numbers, reverse=True))
print("합 :", sum(numbers))
print("평균 :", sum(numbers)/len(numbers))
print("sorted 함수 사용시 리스트의 내용이 바뀌지 않은 :", numbers)

오름차순 정렬 : [1, 2, 3, 4, 5]
내림차순 정렬 : [5, 4, 3, 2, 1]
합 : 15
평균 : 3.0
sorted 함수 사용시 리스트의 내용이 바뀌지 않은 : [1, 2, 3, 4, 5]

## 1.3 요소추가

- '+' : 두 리스트 연결
- '*' : 리스트를 곱한 수만큼 반복
- append() : 요소 맨 뒤에 추가
- extend(리스트) : 리스트를 요소별로 맨 뒤에 추가
- insert(idx, 값) : idx번째 인덱스 위치에 값 추가

In [91]:
numbers = [1,2,3]
numbers = numbers + numbers # 리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [92]:
numbers = [1,2,3]
print(numbers*3) # 곱한 수 만큼 반복
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [99]:
numbers.append(4) # 맨 뒤에 4 추가
numbers

[1, 2, 3, 4, 4, 4, 4, 4, 4, 4]

In [103]:
numbers.append([5,6,7]) # 맨 뒤 요소에 [5,6,7] 추가
numbers

[1, 2, 3, 4, 4, 4, 4, 4, 4, 4, [5, 6, 7], [5, 6, 7], [5, 6, 7], [5, 6, 7]]

In [105]:
numbers = [1,2,3]
numbers.extend([4,5,6]) # 맨 뒤에 요소별로 4,5,6 각각 추가
numbers

[1, 2, 3, 4, 5, 6]

In [106]:
lst = ['a','b','c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [107]:
lst.append("hello")

In [110]:
lst.extend("hello")

In [115]:
numbers = [1,2,3,4,5]
numbers.insert(1,'xx') # 1번째 인덱스에 'xx' 추가
numbers

[1, 'xx', 2, 3, 4, 5]

In [114]:
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4인덱싱과 요소 갯수
- list변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
- 찾을데이터 in 변수 : 찾을데이터가 리스트변수의 요소인지 여부
- count(찾을데이터) : 리스트에서 해당 찾을데이터의 갯수 반환

In [117]:
numbers =[1,2,3,[1,2,3],1,2,3]
numbers.count(2), numbers.count([1,2,3])

(2, 1)

In [118]:
numbers.count(5)

0

In [120]:
print(2 in numbers) #2가  numbers의 요소인지 여부
print(5 in numbers)

True
False

In [124]:
if numbers.count(5):
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다')

5가 요소에 포함되지 않습니다

In [126]:
if 5 in numbers:
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다')

5가 요소에 포함되지 않습니다

In [134]:
def safe_index(lst, item):
    """"첫번쨰 매개변수 lst에서 item 요소가 있는 index를 반환
    item 요소가 없으면 -1 반환"""
    if item in lst:
        return lst.index(item)
    return -1

In [4]:
from lst import safe_index # lst.py(모듈)안의 safe_index를 메모리에 Load

numbers = [1,2,3]

safe_index(numbers,2), safe_index(numbers,5)

(1, -1)

In [5]:
numbers[5] # 벗어난 인덱스로 인덱싱 시 에러

IndexError: list index out of range

In [7]:
numbers[2:5] # 벗어난 인덱스로 슬라이싱 시 에러가 안 남

[3]

In [9]:
numbers[4:5]

[]

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱
    -[from:to:step] from번째부터 to앞까지 step씩 증가하는 index값을 추출
        *from 생략시 처음, to생략시 끝, step생략시 1
    -인덱스의 범위를 벗어난 값도 에러나지 않음
    -인덱스는 음수가능
    
2. **리스트컴프리헨션** : 원하는 조건의 데이터 추출

In [14]:
numbers = [1,3,5,9,10,12,13,18,19,20]
print(numbers[::-1]) # 꺼꾸로 출력
print(numbers[0::2]) # 짝수 index 값 출력
print(numbers[2:100]) # 인덱스를 벗어난 슬라이싱 가능

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]

In [15]:
# 모든 데이터 출력
numbers = [1,3,5,9,10,12,13,18,19,20]
#for data in numbers:
#    print(data, end='\t')
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [18]:
# 짝수 데이터 추출
#for data in numbers:
#       if data%2==0:
#          print(data,end=" ")
[data for data in numbers if data%2==0]

[10, 12, 18, 20]

In [22]:
#e1. numbers에서 10이상인 요소만 추출
[data for data in numbers if data>=10]

[10, 12, 13, 18, 19, 20]

In [25]:
#e2. fruits에서 과일의 글자가 5글자 이상인 과일만 추출
fruits = ['orange','apple','mango','kiwi']
[fruit for fruit in fruits if len(fruit) >= 5]

['orange', 'apple', 'mango']

In [26]:
# ex-1 fruits 리스트의 과일 글자수
[len(fruit) for fruit in fruits]

[6, 5, 5, 4]

In [27]:
# ex3. 3이상인 요수들의 제곱을 추출
L = [1,2,3,4,5]
[temp**2 for temp in L if temp >= 3]

[9, 16, 25]

In [29]:
# ex4. 리스트 요소의 값의 두배를 추출
[temp*2 for temp in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기
-인덱스, 슬라이싱을 이용해서 수정

In [30]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [34]:
#슬라이싱(step부분 미포함)을 이용하여 부분 리스트를 통째로 수정
numbers[0:2]=['xx','xx','xx']
numbers

['xx', 'xx', 'xx', 222, 3, 4, 5, 6, 7, 8, 9]

In [38]:
#슬라이싱(step 부분 포함)을 이용하여 부분 수정시 요소 갯수 맞아야 함
numbers = [0]*10
print('수정전 :', numbers)
numbers[0::2] = [9,9,9,9,9]
print('수정후 :', numbers)

수정전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 : [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

In [39]:
numbers[::2] = [1,1]

ValueError: attempt to assign sequence of size 2 to extended slice of size 5

## 1.7 요소삭제
- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
- pop(idx) : idx번쨰 요소가 반환되고 삭제
- remove(data) : list안의 data가 삭제
- del 리스트변수[idx] : idx번째 요소가 삭제

In [46]:
numbers = [1,2,3,4,5]
print("삭제한 데이터 :", numbers.pop())
print("삭제 후 numbers :",numbers)
print("1번째 삭제한 데이터 :", numbers.pop(1))
print("1번째 삭제 후 numbers :", numbers)
print("데이터 1 삭제")
numbers.remove(1)
print("데이터 1 삭제 후 number :", numbers)
print("del numbers[1]")
del numbers[1]
print(numbers)

삭제한 데이터 : 5
삭제 후 numbers : [1, 2, 3, 4]
1번째 삭제한 데이터 : 2
1번째 삭제 후 numbers : [1, 3, 4]
데이터 1 삭제
데이터 1 삭제 후 number : [3, 4]
del numbers[1]
[3]

In [47]:
#numbers.remove(9)
if 9 in numbers:
    numbers.remove(9)
else:
    print("해당 데이터는 없는 item입니다")

해당 데이터는 없는 item입니다

In [48]:
numbers.clear() # 모든 요소를 삭제
numbers

[]

## 1.8 정렬하기

In [50]:
numbers = [9,5,0,8,6]
print("numbers는 변경하지 않고, 정렬결과 :",sorted(numbers))
print("numbers :",numbers)

numbers는 변경하지 않고, 정렬결과 : [0, 5, 6, 8, 9]
numbers : [9, 5, 0, 8, 6]

In [51]:
numbers.sort()# 오름차순 결과로 numbers 자체가
numbers

[0, 5, 6, 8, 9]

In [ ]:
numbers.sort(reverse = True)# 내림차순 결과로 numbers 자체가
numbers

In [52]:
numbers.reverse() # 리스트를 역순으로 변경
numbers = numbers[::-1]
numbers

[0, 5, 6, 8, 9]

## 1.9 리스트 복제

In [67]:
# 스칼라 데이터의 복제
i = 10 
cp_i = i
print(f"원본i = {i}, 복사본cp_i={cp_i} / 원본주소= {id(i)}, 복사본주소={id(cp_i)}")
cp_i = 99
print(f"원본i = {i}, 복사본cp_i={cp_i} / 원본주소= {id(i)}, 복사본주소={id(cp_i)}")

원본i = 10, 복사본cp_i=10 / 원본주소= 1527790109200, 복사본주소=1527790109200
원본i = 10, 복사본cp_i=99 / 원본주소= 1527790109200, 복사본주소=1527790112048

In [63]:
1 # 데이터 구조의 복제
numbers = [5,6,1,9]
new_numbers = numbers
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(numbers))
new_numbers[0] =99
print("원본 내용 :", numbers)
print("복제본 내용 :", new_numbers)
print("원본 내용 :", id(numbers))
print("복제본 내용 :", id(new_numbers))

원본 주소 : 1527909102144
복제본 주소 : 1527909102144
원본 내용 : [99, 6, 1, 9]
복제본 내용 : [99, 6, 1, 9]
원본 내용 : 1527909102144
복제본 내용 : 1527909102144

In [66]:
# 할당 
numbers = [5,6,1,9]
new_numbers = numbers
new_numbers.sort()
print("원본 :", numbers)
print("복제본 :", new_numbers)
print("원본 주소:", id(numbers))
print("복제본 주소:", id(new_numbers))

원본 : [1, 5, 6, 9]
복제본 : [1, 5, 6, 9]
원본 주소: 1527909087552
복제본 주소: 1527909087552

In [71]:
numbers = [5,6,1,9]
new_numbers = sorted(numbers)
print("원본 :",numbers)
print("정렬본 :", new_numbers)

원본 : [5, 6, 1, 9]
정렬본 : [1, 5, 6, 9]

In [72]:
# 리스트 복제(깊은 복사)
numbers = [5,6,1,9]
new_numbers = numbers.copy() # numbers를 복제(깊은 복사)
new_numbers.sort(reverse=True) #내림차순 정렬
print("원본 :",numbers)
print("복제본 :", new_numbers)
print("원본 주소 :", id(numbers))
print("복제본 주소 :", id(new_numbers))

원본 : [5, 6, 1, 9]
복제본 : [9, 6, 5, 1]
원본 주소 : 1527907701632
복제본 주소 : 1527911475584

In [73]:
city = [ '서울','대전','대구','부산','하남','수원','제주']
temp = city.copy()
temp.sort()
print("정렬전 :", city)
print("정렬후 :", temp)

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 : ['대구', '대전', '부산', '서울', '수원', '제주', '하남']

In [75]:
temp.clear()
print("정렬전 :", city)
print("정렬후 :", temp)

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 : []

# 2절 튜플
- 리스트([])와 유사하지만 읽기전용. 수정이 필요없는 데이터에서 사용
- 수정이 불가하므로, 튜플에서 데이터 수정, 추가, 삭제 불가
- 제공되는 함수도 많지 않음
- ()이용해서 생성

In [79]:
#city = ('서울','대전','대구','부산','하남')
# 파이썬은 여러개의 값이 전달될 때 튜플 타입으로 전달
city = '서울','대전','대구','부산','하남'
print(type(city))
print(city)

<class 'tuple'>
('서울', '대전', '대구', '부산', '하남')

In [77]:
a , b = 10 , 20

In [81]:
# 매개변수로 List가 오는 함수는 tuple 매개변수로 함수 사용
", ". join(city)

'서울, 대전, 대구, 부산, 하남'

In [82]:
from lst import safe_index
safe_index(city, '대전')

In [84]:
l = ['서울'] # 요소가 하나 있는 리스트
print(type(1))
print(l)
print(len(l))

<class 'int'>
['서울']
1

In [87]:
city = ('서울', '하남') #요소가 하나 있는 튜플
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울', '하남')
2

In [88]:
city = ('서울') #요소가 하나 있는 튜플
print(type(city))
print(city)
print(len(city))

<class 'str'>
서울
2

In [90]:
numbers = (1,2,3)
#numbers.append(4) 수정하기 위한 함수는 제공되지 않음

In [91]:
min(numbers), max(numbers), sum(numbers)

(1, 3, 6)

In [93]:
numbers.count(2)

1

In [94]:
numbers.index(3)

2

In [95]:
numbers.index(3)

2

In [97]:
if 4 in numbers:
    numbers.index(4)
else:
    print('해당 데이터 없음')

해당 데이터 없음

In [98]:
safe_index(numbers,4)

-1